<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402359730833-ca340bhra5lhrn2a19i64j51ebucrjpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402359730833-ca340bhra5lhrn2a19i64j51ebucrjpq</string>
	<key>API_KEY</key>
	<string>AIzaSyAchxouvB27dZVc7tDkrlJl-u8Gvtjl1J4</string>
	<key>GCM_SENDER_ID</key>
	<string>402359730833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.commoncents</string>
	<key>PROJECT_ID</key>
	<string>commoncents-7b521</string>
	<key>STORAGE_BUCKET</key>
	<string>commoncents-7b521.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402359730833:ios:ace17503069c54ca68f530</string>
</dict>
</plist>